/*colors*/
$pink:#fcc0ce;
$green:#99E2D0;
$dark_green:#008766;
$blue:#89C8FA;
$dark_blue:#003A68;
$purple:#9356DC;
$rose-gradient: linear-gradient(to top, $pink, $purple);
$dark_grey:#353535;
$color-heart1: #9356DC;
$color-heart2: #FF79DA;

/*breakpoints*/
$breakpoints: (
  mobile: 375px,
  tablet: 480px,
  laptop: 1024px,
  desktop: 1280px,
);
