.explains {
    &__container{
        width: 322px;
        height: 72px;
        border-radius: 20px;
        /* Background */
        background: #F7F7F7;
        /* Shadow/Instructions */
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        margin-left: 10px;
    }
    &__number{
        background-color: $purple;
        @include display;
        border-radius: 50%;
        transform: translateX(-10px);
        padding: 5px;
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        width: 1.5em;
        height: 1.5em;
    }
    &__logo{
        padding-left: 22px;
        color: #7E7E7E;
        height: 22px;
        width: 18px;
    }
    &__text{
       padding-left: 27px;
        @include header_button;
    }
}


.card{
    position: relative;
    display: block;
    background: #ffff;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    margin-bottom: 30px;
    margin: 18px;
    &__title{
        @include card_name;
        margin: 18px 18px 5px 18px;
        color: black;
        width: 267px;
    }
    &__text{
        @include card_text;
        color: black;
        margin: 0 80px 12px 17px;
    }
    &__new{
        background: $green;
        color: $dark_green;
        padding: 0.5rem;
        border-radius: 0.125rem;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
    }

}
.card img {
    width: 100%;
    height: 164px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    box-sizing: border-box;
}

.heart-container {
    position: relative;
    width: 24px;
    height: 24px;
    bottom: -30px;
    right: 10px;
  }
  
  .second-heart {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .first-heart:hover + .second-heart {
    display: block;
  }
  
  .first-heart {
    position: relative;
  }
  
  .first-heart::before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #000; /* Couleur par défaut */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .second-heart::before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #FF79DA;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  
  
  