.container_menu {
    background-color: #f7f7f7;
    padding-bottom: 40px;

    @include laptop {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.title_display {
    padding: 32px 17px 42px 17px;
    position: relative;
    top: -63px;
    margin-bottom: -63px;
    border-radius: 30px 30px 0px 0px;
    background-color: #f7f7f7;
    @include h1menu;
    display: flex;
    flex-wrap: nowrap;

    @include tablet {
        @include display;
    }
}

.title_menu {
    @include h1menu;
    margin: 0;
}

.title2 {
    display: inline-block;
    flex-direction: column;
    text-transform: uppercase;
    @include card_text;
    padding-left: 12px;

    &__under {
        height: 3px;
        width: 75%;
        background-color: #99e2d0;
    }
}

.menu_card {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 69px;
    margin: 12px;
    position: relative;

    &__container {
        margin-bottom: 40px;

        @include laptop {
            margin-left: 100px;
            margin-right: 100px;
        }
    }

    &__plat {
        @include card_name;
        padding-bottom: 5px;
        padding-left: 15px;
        @extend %hidden-text;
        width: 100%;
    }

    &__condi {
        @include card_text;
        @extend %hidden-text;
        padding-left: 15px;
        width: max-content;
    }

    &__prix {
        @include h1_h2;
        position: absolute;
        right: 12px;
        bottom: 12px;
        font-weight: bold;
    }
}

.heart_menu {
    font-size: medium;
    display: flex;
    align-items: center;
    align-content: center;
    right: -77px;

}

.list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 12px 22px 12px 10px;
    margin: 12px;
    animation: menu-list 2s ease both;
    @include list-delay;
    overflow: hidden;

    &__content,
    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__title {
        margin: 0 0 4px 0;
        font-size: 18px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.03em;
    }

    &__price {
        font-weight: 700;
        font-size: 14px;
        color: $dark_grey;
        transition: .5s ease-in-out;
        margin-left: 15px;
    }

    &__order {
        position: absolute;
        background-color: #99E2D0;
        color: #fff;
        font-size: 20px;
        padding: 22.5px 20px;
        border-radius: 0 15px 15px 0;
        right: 0;
        top: 0;
        transform: translateX(60px);
        transition: .5s ease-in-out;
    }

    &__icon {
        transform: rotate(0deg);
        transition: .5s ease-in-out;
    }

    &:hover {
        cursor: pointer;

        .list__price {
            margin-right: 60px;
        }

        .list__order {
            transform: translateX(0);
        }

        .list__icon {
            transform: rotate(360deg);
        }
    }
}