@charset "UTF-8";
/*colors*/
/*breakpoints*/
/*listes menus*/
@keyframes menu-list {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*loader*/
@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
/*polices size*/
.menu_card__condi, .menu_card__plat {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.button_pink {
  z-index: 1;
  /* Button Gradient */
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  /* Shadow/Button */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  text-decoration: none;
  color: white;
  height: 50px;
  width: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 27px 80px 0px 80px;
  transition: 300ms ease-in-out;
}
.button_pink:hover {
  opacity: 0.8;
  box-shadow: 2px 4px 15px #3f3f3f;
}
.button_pink__display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart__icon {
  position: relative;
}
.heart__icon--outline {
  position: absolute;
  right: -15px;
  padding-left: 4px;
  padding-right: 4px;
}
@media screen and (min-width: 480px) {
  .heart__icon--outline {
    left: -50px;
  }
}
.heart__icon--solid {
  position: absolute;
  right: -15px;
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 300ms;
  padding-left: 4px;
  padding-right: 4px;
}
@media screen and (min-width: 480px) {
  .heart__icon--solid {
    left: -50px;
  }
}
.heart__icon:hover {
  cursor: pointer;
}
.heart__icon:hover .heart__icon--solid {
  transform: scale(1);
}
.heart__icon:hover .heart__icon--outline {
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  z-index: 9999;
  animation: fade-out 6s ease-in-out forwards;
}

.loader {
  font-size: 50px;
  font-family: "shrikhand", sans-serif;
  color: #9356DC;
  position: relative;
  margin-top: 300px;
  display: flex;
  justify-content: center;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #003A68;
  border-bottom-color: #89C8FA;
  box-sizing: border-box;
  animation: rotation 1s linear 5;
}

.loader::after {
  animation-delay: 0.2s;
  /* Décalage de l'animation de 0.3s pour l'élément ::after */
}

.content {
  opacity: 0;
  animation: fade-in 3s ease-in-out forwards;
  animation-delay: 1s;
  /* Délai en secondes avant d'afficher le contenu */
}

.logo__container {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.logo__size {
  width: 162px;
}

.city__container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  overflow: hidden;
}
.city__pointer {
  width: 12px;
  height: 16px;
}
.city__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-left: 17px;
}

.return_main {
  position: absolute;
  top: 20px;
  left: 2%;
  font-size: x-large;
}

.img_menu {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F7F7F7;
  padding-bottom: 30px;
}
.nav__container--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  flex-wrap: wrap;
  margin: 39px 58px 25px 58px;
  text-align: center;
}
.nav__container--texte {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.restaurants__container {
  background-color: #F7F7F7;
  padding-bottom: 66px;
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-left: 20px;
  padding-top: 54px;
}
@media screen and (min-width: 480px) {
  .restaurants__title {
    margin-left: 150px;
    margin-right: 150px;
  }
}
.restaurants__content {
  display: flex;
  flex-direction: row;
}
.restaurants__content--text-card {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .restaurants-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
  }
}

.fonctionnement__container {
  margin: 48px 20px 68px 20px;
}
.fonctionnement__title {
  margin-bottom: 26px;
}
@media screen and (min-width: 480px) {
  .fonctionnement__title {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.container_main {
  background-color: white;
}

@media screen and (min-width: 480px) {
  .explains__display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.explains__container {
  width: 322px;
  height: 72px;
  border-radius: 20px;
  /* Background */
  background: #F7F7F7;
  /* Shadow */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 10px;
}
.explains__number {
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateX(-10px);
  padding: 5px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 1.5em;
  height: 1.5em;
}
.explains__logo {
  padding-left: 22px;
  color: #7E7E7E;
  height: 22px;
  width: 18px;
}
.explains__text {
  padding-left: 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.card {
  position: relative;
  display: block;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  margin-bottom: 30px;
  margin: 18px;
  width: 340px;
}
.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 18px 18px 5px 18px;
  color: black;
  width: 267px;
}
.card__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: black;
  margin: 0 80px 12px 17px;
}
.card__new {
  background: #99E2D0;
  color: #008766;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.card img {
  width: 100%;
  height: 164px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
}

.heart_index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_menu {
  background-color: #f7f7f7;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .container_menu {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.title_display {
  padding: 32px 17px 42px 17px;
  position: relative;
  top: -63px;
  margin-bottom: -63px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f7f7f7;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (min-width: 480px) {
  .title_display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title_menu {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  margin: 0;
}

.title2 {
  display: inline-block;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding-left: 12px;
}
.title2__under {
  height: 3px;
  width: 75%;
  background-color: #99e2d0;
}

.menu_card {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 69px;
  margin: 12px;
  position: relative;
}
.menu_card__container {
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .menu_card__container {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.menu_card__plat {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 5px;
  padding-left: 15px;
  width: 100%;
}
.menu_card__condi {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding-left: 15px;
  width: -moz-max-content;
  width: max-content;
}
.menu_card__prix {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  right: 12px;
  bottom: 12px;
  font-weight: bold;
}

.heart_menu {
  font-size: medium;
  display: flex;
  align-items: center;
  align-content: center;
  right: -77px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 12px 22px 12px 10px;
  margin: 12px;
  animation: menu-list 2s ease both;
  overflow: hidden;
}
.list:nth-child(1) {
  animation-delay: 0.3s;
}
.list:nth-child(2) {
  animation-delay: 0.6s;
}
.list:nth-child(3) {
  animation-delay: 0.9s;
}
.list:nth-child(4) {
  animation-delay: 1.2s;
}
.list:nth-child(5) {
  animation-delay: 1.5s;
}
.list:nth-child(6) {
  animation-delay: 1.8s;
}
.list:nth-child(7) {
  animation-delay: 2.1s;
}
.list:nth-child(8) {
  animation-delay: 2.4s;
}
.list:nth-child(9) {
  animation-delay: 2.7s;
}
.list:nth-child(10) {
  animation-delay: 3s;
}
.list__content, .list__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list__title {
  margin: 0 0 4px 0;
  font-size: 18px;
}
.list__subtitle {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.list__price {
  font-weight: 700;
  font-size: 14px;
  color: #353535;
  transition: 0.5s ease-in-out;
  margin-left: 15px;
}
.list__order {
  position: absolute;
  background-color: #99E2D0;
  color: #fff;
  font-size: 20px;
  padding: 22.5px 20px;
  border-radius: 0 15px 15px 0;
  right: 0;
  top: 0;
  transform: translateX(60px);
  transition: 0.5s ease-in-out;
}
.list__icon {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.list:hover {
  cursor: pointer;
}
.list:hover .list__price {
  margin-right: 60px;
}
.list:hover .list__order {
  transform: translateX(0);
}
.list:hover .list__icon {
  transform: rotate(360deg);
}

.footer__container {
  background-color: #353535;
  margin: 0;
  color: white;
}
@media screen and (min-width: 1024px) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    align-items: flex-end;
  }
}
.footer__title {
  font-family: "shrikhand", sans-serif;
  font-size: 1.2em;
  margin-bottom: 16px;
  margin-top: 22px;
  margin-left: 25px;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    margin-right: 25px;
  }
}
.footer__list {
  list-style: none;
  color: inherit;
  margin-left: 25px;
  margin-bottom: 22px;
  padding-left: 0;
}
@media screen and (min-width: 1024px) {
  .footer__list {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    gap: 12px;
  }
}
.footer__space-list {
  margin-top: 7px;
}
.footer__links {
  text-decoration: none;
  color: white;
}
.footer__links a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer__links--icon {
  margin-right: 8px;
}

* {
  margin: 0;
  font-family: "roboto";
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */