@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./layouts/footer.scss";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

* {
    margin: 0;
    max-width: 375px;
    font-family: 'roboto';
    font-style: normal;
}

body {
display: flex;
justify-content: center;
flex-direction: column;
}